<% layout('layouts/boilerplate') %>
  <div class="row">
    <div class="col-6">
      <div class="card mt-3">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% campground.image.forEach((img, i)=> { %>
              <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
                <img src="<%= img.url%>" class="d-block w-100" alt="">
              </div>
              <% }) %>

          </div>
          <%if(campground.image.length>1) {%>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            <% } %>
        </div>

        <div class="card-body">
          <h5 class="card-title">
            <%= campground.title %>
          </h5>
          <p class="card-text">
            <%= campground.description %>
          </p>
        </div>
        <ul class="list-group list-group-flush">

          <li class="list-group-item">Location:</b>
            <%= campground.location %>
          </li>
          <li class="list-group-item">Price: $<%= campground.price %>/night
          </li>
        </ul>
        <div class="card-body">
          <a class="btn btn-info" href="/campgrounds/<%=campground._id%>/edit" class="card-link">Edit</a>
          <form class="d-inline" action="/campgrounds/<%= campground._id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
          </form>
        </div>
        <div class="card-footer text-muted">
          3 days ago, by <%=campground.author.username%>
        </div>
      </div>

      <!-- <a href="/campgrounds" class="btn btn-secondary">Back to all Campgrounds</a> -->
    </div>
    <div class="col-6 mt-3">
      <% if(currentUser) { %>
        <h3>Leave a Review</h3>
        <fieldset class="starability-grow">
          <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
          <input type="radio" id="first-rate1" name="rating" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="rating" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="rating" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="rating" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="rating" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
          <div class="mb-3">
            <textarea class="needs-validation" name="review[body]" id="body" cols="60" rows="4" required></textarea>
            <div class="invalid-feedback">
              Review cannot be blank
            </div>
            <div class="valid-feedback">
              Looks good
            </div>
          </div>
          <button class="btn btn-success ">Post</button>
        </form>
        <% } %>
          <% for (const review of campground.reviews) { %>
            <div class="card mb-3">
              <div class="card-body">
                <div class="card-title">
                  <h5> Rating: <%= review.rating %>
                  </h5>
                  <p class="card-text"> Review: <%= review.body %>
                  </p>
                </div>
                <% if(review.author.equals(currentUser)) { %>
                  <form action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger btn-sm">Delete</button>
                    <% } %>
                  </form>
              </div>
            </div>
            <% } %>
    </div>
  </div>